@model List<ThinkingHome.NooLite.Web.Models.ControlPageModel>
@{
	ViewBag.Title = "title";
}

<!-- Start of first page -->
<div data-role="page" id="main-page">

	<div data-role="header" data-position="fixed">
		<h1>Foo</h1>
	</div>
	<!-- /header -->

	<div data-role="content">
		<ul data-role="listview">
			@foreach (var page in Model)
   {
				<li><a href="#page-@page.Id">@page.Title</a></li>
   }
		</ul>

	</div>
	<!-- /content -->
</div>
<!-- /page -->

<!-- Other pages -->
@foreach (var page in Model)
{
	<div data-role="page" id="page-@page.Id">

		<div data-role="header" data-position="fixed">
			<a href="#main-page" data-icon="home">Home</a>
			<h1>@page.Title</h1>
		</div>
		<!-- /header -->

		<div data-role="content">
			<p>@page.Description</p>
			@foreach (var control in page.Controls)
   {
				<input id="btn-@control.Id" value="@control.DisplayText" type="button" />
				<input id="hdn-@control.Id" value="@control.Level" type="hidden" />
   }
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
}
