@model ThinkingHome.NooLite.Web.Models.ControlModel
@{
	var tmpId = "fld-" + Guid.NewGuid().ToString();
}

<label for="@tmpId">@Model.DisplayText</label>
<div class="ui-grid-a responsive-slider">
	<div class="ui-block-a">
		<input name="@tmpId" id="@tmpId" data-highlight="true" min="0" max="100" step="5" value="@Model.Level" type="range">
	</div>
	<div class="ui-block-b">
		<input type="button" class="control-button" value="Set" data-control-id="@Model.Id" data-level="#@tmpId" data-strong="0" />
	</div>
</div>

